---
layout: default
title: 明一的博客（归档）
description: 明一的博客, 技术博客, 分享技术, 关注 web，交流学习，共同进步
---
<div class="content pull-left">
  <div class="topic">
    <h2>所有文章：</h2>
    {% capture year %}{% endcapture %}
    {% capture month %}{% endcapture %}
    <div> {% for post in site.posts %}
      {% capture new_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      
      {% if year == new_year %}
      {% include archives_month.html %}
      {% else %} </div>
    {% capture year %}{{ new_year }}{% endcapture %}
    <h3>{{ year }} 年</h3>
    <div id"=year"> {% include archives_month.html %}
      {% endif %}
      
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!--content end-->
<!--sidebar-->
<div class="sidebar">
    <h2>我</h2>
    <div class="topic-list" >
        <a class="badge badge-list" href="http://www.stdu.edu.cn/">铁大</a>
        <a class="badge badge-list">电商</a><a class="badge badge-list">0909</a>
        <a class="badge badge-list">前端</a><a class="badge badge-list">设计</a>
        <a class="badge badge-list">骑行</a><a class="badge badge-list">远足</a>
        <a class="badge badge-list">动漫</a><a class="badge badge-list">宅</a>
        <a class="badge badge-list">二</a><a class="badge badge-list">液态生活</a>
    </div>
    <h2>邮箱</h2>
    <div class="topic-list" >
      <ul>
        <li>minyili100@gmail.com</li>
        <li>limingyi_100@126.com</li>
      </ul>
    </div>
    <h2>酷站</h2>
    <div class="topic-list" >
        <a class="badge badge-list" href="http://www.w3cfuns.com/portal.php">W3Cfuns</a>
        <a class="badge badge-list" href="https://github.com/">Github </a>
        <a class="badge badge-list" href="http://dribbble.com/">Dribbble</a>
        <a class="badge badge-list" href="http://www.w3school.com.cn/">w3school</a>
        <a class="badge badge-list" href="http://www.infoq.com/cn/">InfoQ</a>
        <a class="badge badge-list" href="http://www.zhihu.com/">知乎</a>       
        <a class="badge badge-list" href="http://www.uisdc.com/">优设</a>
        <a class="badge badge-list" href="http://www.zcool.com.cn/">站酷</a>
    </div>
</div>
<div class="clear"></div>
<div class="topic"> {% include ds_recent.html %} </div>
