---
layout: default
title: 明一的博客
description: 明一李的博客, 前端博客, 分享技术, 关注 web，交流学习，共同进步
---
<!--content-->
<div class="content pull-left">
  <!--文章总计-->
  <div class="topic"> <span class="badge">文章总计： {{ site.posts | size }} 篇 | 最后更新时间：{{ site.time | date: "%Y年%m月%d日" }}</span> </div>
  <!--文章-->
  {% for category in site.categories %}
  <div id="{{ category | first }}" class="show"> {% for post in site.categories[category.first] %}
    <div class="topic"> <span class="badge">{{ post.date | date: "%Y年%m月%d日" }}</span>
      <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
      <p>{{ post.description }}</p>
    </div>
    {% endfor %} </div>
  {% endfor %}
  <!--多说评论-->
  {% include ds_recent.html %} </div>
<!--content end-->
<!--sidebar-->
<div class="sidebar">
  <h2>所有分类：</h2>
  <div class="topic-list" id="topic-list-c" > </div>
  <h2>网站链接：</h2>
  <div class="topic-list" > <a class="badge badge-list" href="http://www.w3cfuns.com/portal.php" >W3Cfuns</a> <a class="badge badge-list" href="http://www.uisdc.com/" >优设联盟</a> <a class="badge badge-list" href="http://www.zcool.com.cn/">站酷</a> <a class="badge badge-list" href="https://github.com/" >Github </a> <a class="badge badge-list" href="http://dribbble.com/">Dribbble</a> <a class="badge badge-list" href="http://www.w3school.com.cn/">w3school</a> </div>
</div>
<!--sidebar end-->
<div class="clear"></div>

