<!--多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"mingyi"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!--多说js加载结束，一个页面只需要加载一次 -->
<style type="text/css">
  #ds-recent-comments li.ds-comment .ds-avatar {
    left: -25px !important;}
</style>

<div class="topic">
  <h3>最近评论：</h3>
  <ul class="ds-recent-comments"  data-num-items="10"></ul>
</div>
