      <!--foot-->
      <div class="footer pull-left">
        <p>&copy; 2013 明一 -Hosted on <strong><a href="https://github.com/">GitHub</a></strong> | 转载请遵守 <strong><a href="http://creativecommons.org/licenses/by-sa/3.0/cn/">CC BY-SA 3.0</a> 协议</strong><br>
          <strong> <a href="https://github.com/mingyili">Fork me on GitHub </a> </strong> </p>
      </div>
  </div>
  <div title="移动到页首" id="go-top" class="mouse-leave"><a href="#pagewrap">▲</a></div>
  <script type="text/javascript" src="/assets/js/blog.js"></script>
</body>
</html>
