<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ page.description }}" />
<meta name="author" content="明一">
<meta name="keywords" content="明一_博客,前端,笔记"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="/assets/img/1.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
<link rel="stylesheet" type="text/css" href="/assets/css/subpages.css">
<title>{{ page.title }}</title>
<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39325120-3']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
</head>
<body>
<div id="pagewrap">
<div class="nav-fix nav-fix-top">
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/categories.html">分类</a></li>
      <li><a href="/projects.html">项目</a></li>
      <li><a href="/archives.html">归档</a></li>
    </ul>
  </div>
</div>
