<link rel="stylesheet" type="text/css" href="{$HOST_STATIC}/licai/dist/wbf/css/login.css"/>

<!-- page strat -->
<div class="page" id='login'>

	<!-- content strat -->
    <div class="content native-scroll">
    	<div class="main-banner">
    		<img src="{$HOST_STATIC}/licai/dist/wbf/img/banner.jpg" alt="">
    	</div>
		<div class="list-block">
			<ul><li>
				<div class="item-content">
					<div class="item-media"><i class="icon icon-user-a"></i></div>
					<div class="item-inner">
						<div class="item-input">
							<input type="text" placeholder="手机号">
						</div>
					</div>
				</div>
			</li><li>
				<div class="item-content">
					<div class="item-media"><i class="icon icon-lock"></i></div>
					<div class="item-inner">
						<div class="item-input">
							<input type="password" placeholder="登录密码">
						</div>
					</div>
				</div>
			</li></ul>
		</div>

		<div class="content-block">
			<a href="{$HOST}/index.php/weixin/activity/licai?link=demo" class="button button-big button-fill" external>登录</a>
		</div>

		<div class="text-content">
			<a href="#">忘记密码?</a> |
			<a href="#">立即注册</a> 
		</div>
		<div class="text-content border-b">
			<a href="#">关于我们</a>
			<a href="#">常见问题</a>
			<a href="#">安全保障</a>
			<a href="#">特权规则</a>
		</div>
    	
        {include file="licai/common/copyright.phtml"}
    </div>
    <!-- content end -->
</div>
<!-- page end -->

{literal}
<script type="text/javascript">
//登录/注册相关js代码
</script>
{/literal}