ol {
    margin:1em 0 1em 2em;
}
ol li {
    margin-top:.5em;
    margin-bottom:.5em;
    text-decoration: none;
}
ul , li {
    margin:0;
    padding:0;
}
ul {
    clear: both;
}
hr {
    height:1px;
    border:none;
    border-top:1px dashed #3599FF;
    margin: 5px auto 20px auto;
}
code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
}
pre code {
    margin: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow-x: hidden;
}
blockquote {
    margin:1em 0;
    border-left:5px solid #ddd;
    padding-left:.6em;
    color:#555;
}
.topic pre .title {
font-size: 14px;
}
/****/
.wap {
    margin:0 auto;
}
.wap .head {
    position:relative;
    display:block;
    overflow:hidden;
    padding:30px;
    margin-top:20px;
    background:#fff;
}
/*****边框样式*****/
.photo_wap {
    position:relative;
    float:left;
    height:170px;
    width:130px;
    margin:10px 50px;
}
.photo, 
.photo_shadow,
.photoS {
    position:absolute;
    z-index:2;
    width:110px;
    height:110px;
    background:#0365c0;
    border:10px solid #2797ff;
    border-radius:20px;
    behavior: url(/assets/css/ie-css3.htc); /* ie */
}
.photo_shadow {
    top:10px;
    z-index:1;
    border-color:#0365c0;
}
.photoS {
    right:10px;
    top:22px;
    height:98px;
    background:#f2f9ff;
    border:0;
    border-radius:10px;
}
.photo_text {
    position:absolute;
    top:150px;
    width:130px;
    height:20px;
    font-family:Kelly Slab;
    text-align:center;
    font-size:24px;
    color:#3599FF;
}
/*****图标样式Cloud-A*****/
.photoAA {
    position:relative;
    width:95px;
    height:60px;
    margin: 0 auto;
    margin-top:15px;
}
.photoAA,
.photoAf,
.photoAe {
    transition: all 0.5s;
    -moz-transition: all 0.5s;      /* Firefox */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s;      /* Opera */
}
.photoAA:hover {
    margin-top:8px;
    *margin-top:15px; /* ie7 */
}
.photoAe {
    margin:0 auto;
    height:4px;
    width:70px;
    background:#f2f9ff;
}
.photoAA:hover .photoAe {
    margin-top:12px;
}
.photoAf {
    position:absolute;
    top:18px;
    left:22px;
    z-index:-5;
    height:4px;
    width:70px;
    background:#f2f9ff;
    border-radius:60px;
    box-shadow:0px 65px 18px #0265c2;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=65, Color='#0265c2', Positive='true'); /* ie */
}
.photoAA:hover+.photoAf {
    width:62px;
    left:24px;
}
.photoAa,
.photoAb,
.photoAc,
.photoAd {
    position:absolute;
    z-index:5;
    background:#a4d3fe;
    border-radius:50px;
    behavior: url(/assets/css/ie-css3.htc); /* ie */
}
.photoAa {
    top:25px;
    left:20px;
    height:30px;
    width:55px;
    border-radius:0px;
}
.photoAb {
    top:15px;
    left:0px;
    height:40px;
    width:40px;
    border-radius:40px;
}
.photoAc {
    top:0px;
    left:25px;
    height:50px;
    width:50px;
}
.photoAd {
    top:20px;
    left:60px;
    height:35px;
    width:35px;
}
.photoAa.a,
.photoAb.b,
.photoAc.c,
.photoAd.d {
    z-index:20;
    background:#fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cce6fe));/* Safari, Chrome */
    background-image: -moz-linear-gradient(top, #ffffff, #cce6fe); /* Firefox */
}
.photoAa.a {
    width:54px;
    height:29px;
}
.photoAb.b {
    top:16px;
    left:1px;
    height:38px;
    width:38px;
}
.photoAc.c {
    top:1px;
    left:26px;
    height:48px;
    width:48px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d8ebfd)); /* Safari 和 Chrome */
    background: -moz-linear-gradient(top, #fff, #d8ebfd);  /* Firefox */
}
.photoAd.d {
    top:21px;
    left:61px;
    height:33px;
    width:33px;
}
/*****图标样式Sun-B*****/
.photoBB,
.photoBa,
.photoBb,
.photoBc,
.photoBba,
.photoBbb,
.photoBd,
.photoBe,
.photoBf {
    border-radius:72px;
}
.photoBB {
    position:relative;
    width:72px;
    height:72px;
    margin: 0 auto;
    margin-top:13px;
    background: #ffd42d;
}
.photoBa {
    width:48px;
    height:48px;
    margin:0 auto;
    padding-top:8px;
    border-bottom:4px solid #000;
    background: #ffd42d;
}
.photoBb,
.photoBc {
    position:absolute;
    top:18px;
    left:12px;
    height:16px;
    width:16px;
    background:#000;
}
.photoBc {
    left:44px;
}
.photoBba,
.photoBbb {
    position:absolute;
    top:3px;
    left:3px;
    height:6px;
    width:6px;
    background:#b8b8b8;
}
.photoBbb {
    top:9px;
    left:9px;
    height:4px;
    width:4px;
}
.photoBd,
.photoBe {
    position:absolute;
    top:35px;
    left:1px;
    z-index:8;
    height:20px;
    width:20px;
    background: #F90;
    background: -webkit-gradient(linear, left top, right bottom, from(#ffd42d), to(#fc7821)); /* Safari 和 Chrome */
    background: -moz-linear-gradient(top left, #ffd42d, #fc7821);  /* Firefox */
}
.photoBe {
    left:49px;
}
.photoBf {
    position:absolute;
    top:6px;
    left:19px;
    width:16px;
    height:6px;
    background:#feecaf;
    border-radius:6px;
    -webkit-transform: rotate(-20deg) skew(0deg); /* Safari 和 Chrome */
    transform: rotate(-20deg) skew(0deg);          /* Opera  Firefox */
}
.photoBg,
.photoBh {
    position:absolute;
    top:12px;
    left:18px;
    z-index:-5;
    height:73px;
    width:73px;
    background:#ffb400;
    opacity:0.9; 
    transition: all 2s;            /* 过渡效果 */
    -moz-transition: all 2s;    /* Firefox */
    -webkit-transition: all 2s;    /* Safari 和 Chrome */
    -o-transition: all 2s;        /* Opera */
}
.photoBh {
    background:#ffcc00;
    opacity:0.7; 
    /* IE 5.5 - 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=120, Color='#bbbbbb'); 
}
/*  IE 9 */    
:root .photoBh {
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#bbbbbb');
}
.photoS:hover .photoBg,
.photoS:hover .photoBh {
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari 和 Chrome */
}

/*****图标样式Start and Moon-C*****/
.photoCC {
    position:relative;
    height:98px;
    width:110px;
    margin: 0 auto;
}
.photoCa {
    position:absolute;
    top: 10px;
    left: 14px;
    width:80px;
    height:80px;
    border:1px solid #ffcc00;
    border-radius:80px;
    background:#ffc000;    
}
.photoCb {
    position:absolute;
    width:65px;
    height:65px;
    top: 12px;
    left: 8px;
    border-radius:65px;
    background:#6d6f6f;
    display:none\0;  /* ie8+ie9 */
    *display:none;   /* ie7 */
}
.photoCc,
.photoCd,
.photoCe {
    position: absolute;
    z-index: -5;
    width: 60px;
    height: 49px;
    background: #6d6f6f;
}
.photoCc {
    bottom: 0px;
    right: 0px;
    border-bottom-right-radius: 8px;
}
.photoCd {
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
}
.photoCe {
    top: 11px;
    left: 17px;
    width: 77px;
    height: 82px;
    -webkit-transform: rotate(44deg) skew(-7deg); /* Safari 和 Chrome */
    -moz-transform:  rotate(44deg) skew(-7deg);   /* Firefox */
    -o-transform: rotate(44deg) skew(-7deg);      /* Opera 10.5 */
    display:none\0;                               /* ie8+ie9 */
}
.photoCf {
    position: absolute;
    right: -10px;
    top: -22px;
    z-index: 0;
    width: 110px;
    height: 110px;
    border: 10px solid #2797ff;
    border-radius: 20px;    
    background:rgba(0,0,0,0);
    opacity:0.0\0;             /* ie8+ie9 */
    filter:alpha(opacity=0)\0; /* ie8+ie9 */
}
.photoCa,
.photoCb,
.photoCc,
.photoCd,
.photoCf {
    behavior: url(/assets/css/ie-css3.htc); /* ie */
}
.photoCg {
    position:relative;
    float:left;
    height:22px;
    width:10px;
    display:block;
    margin:28px 0 0 28px;
    transition: all 1s;         /*过度效果*/
    -moz-transition: all 1s;    /* Firefox */
    -webkit-transition: all 1s;    /* Safari 和 Chrome */
    -o-transition: all 1s;        /* Opera */
}
.photoCC:hover .photoCg {
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari 和 Chrome */
}
.photoCga,
.photoCgb,
.photoCgc,
.photoCgd,
.photoCge {
    position:absolute;
    height:9px;
    width:10px;
    background:#ffea00;
    -webkit-transform: rotate(52deg) skew(18deg); /* Safari 和 Chrome */
    transform: rotate(52deg) skew(18deg); /* Opera 和 Firefox */
    box-shadow:10px 10px 20px #fee274;    
}
.photoCgb {
    top:5px;
    left:7px;
    -webkit-transform: rotate(124deg) skew(18deg); /* Safari 和 Chrome */
    transform: rotate(124deg) skew(18deg); /* Opera 和 Firefox */
}
.photoCgc {
    top:13px;
    left:4px;
    -webkit-transform: rotate(196deg) skew(18deg); /* Safari 和 Chrome */
    transform: rotate(196deg) skew(18deg); /* Opera 和 Firefox */
}
.photoCgd {
    top:13px;
    left:-4px;
    -webkit-transform: rotate(268deg) skew(18deg); /* Safari 和 Chrome */
    transform: rotate(268deg) skew(18deg); /* Opera 和 Firefox */
}
.photoCge {
    top:5px;
    left:-7px;
    -webkit-transform: rotate(340deg) skew(18deg); /* Safari 和 Chrome */
    transform: rotate(340deg) skew(18deg); /* Opera 和 Firefox */
}
/*****图标样式Monster-D*****/
.photoDD {
    position:relative;
    height:98px;
    width:110px;
    margin: 0 auto;
}
.photoDa {
    position:relative;
    height:55px;
    width:72px;
    background:#8bc53f;
    margin:0 auto;
    padding-top:30px;
    border-radius: 72px 72px 0 0 ;
}
.photoDaa,
.photoDaaa {
    width:50px;
    height:25px;
    margin:0 auto;
    background:#fff;
    border-radius: 0 0 50px 50px ;
}
.photoDaaa,
.photoDb {
    transition: all 1s;         /*过度效果*/
    -moz-transition: all 1s;    /* Firefox 4 */
    -webkit-transition: all 1s;    /* Safari 和 Chrome */
    -o-transition: all 1s;        /* Opera */
} 
.photoDaaa {
    width:20px;
    height:10px;
    margin-left:20px;
    background:#ec2579;
}
.photoDab {
    position:relative;
    width:25px;
    height:10px;
    margin:0 auto;
}
.photoDaba,
.photoDabb {
    float:left;
    width:10px;
    height:10px;
    margin-top:8px;
    background:#1b6700;
    border-radius: 5px;
}
.photoDabb {
    margin:12px 0 0 8px;
    width:5px;
    height:5px;
}
.a {
    background:#32940d;
}
.photoDaba.a {
    margin:-24px 0 0 25px;
}
.photoDabb.a {
    margin:-15px 0 0 13px;
}
.clear {
    clear:both;
    height:0px;
    width:0px;
}
.photoDac,
.photoDad,
.photoDae,
.photoDaf,
.photoDag {
    position:relative;
    float:left;
    height:15px;
    width:20px;
    margin-top:7px;
    background:#8bc53f;
    border-bottom:2px solid #3b7d1a;
}
.photoDae {
    border-radius:0 0 12px 16px;
}
.photoDad {
    border-radius:0 0 20px 20px;
}
.photoDac {
    border-radius:0 0 16px 12px;
}
.photoDaf,
.photoDag {
    height:6px;
    width:6px;
    margin-top:11px;
    background:#fff;
    border-top:2px solid #3b7d1a;
    border-bottom:0 ;
    border-radius:10px 10px 0 0;
}
.photoDb {
    position:absolute;
    top:10px;
    left:6px;
    height:6px;
    width:6px;
    border-radius: 5px;
    background:rgba(0,0,0,0);
    border:2px solid #0c5601;
}
.z {
    top:47px;
    left:89px;
}
.y {
    top:38px;
    left:15px;
}
.x {
    top:5px;
    left:96px;
    border-color:#d83e40;
}
.photoDD:hover .photoDaaa {
    margin-left:5px;
}
.photoDD:hover .photoDb {
    top:6px;
    left:2px;
}
.photoDD:hover .photoDb.z {
    top:12px;
    left:95px;
}
.photoDD:hover .photoDb.y {
    top:8px;
    left:60px;
}
.photoDD:hover .photoDb.x {
    top:4px;
    left:20px;
}
/*****图标样式Rain and Lightning-E*****/
.photoEE {
    position:relative;
    height:98px;
    width:110px;
    margin: 0 auto;
}
.photoEE .photoAA {
    margin-top:2px;
}
.photoEE:hover .photoAA{
    margin-top:5px;
}
.photoEa ,
.photoEac {
    transition: all 0.2s;         /*过度效果*/
    -moz-transition: all 0.2s;      /* Firefox */
    -webkit-transition: all 0.2s; /* Safari 和 Chrome */
    -o-transition: all 0.2s;      /* Opera */
}    
.photoEa {
    height:40px;
    width:20px;
    margin:0 auto;
    margin-top:-13px;
    background:#FC0;
    -webkit-transform:skew(-35deg); /* Safari 和 Chrome */
    transform: skew(-35deg); /* Opera 和 Firefox*/
}
.photoEaa,
.photoEab {
    height:17px;
    width:20px;
    margin-left:3px;
    background:#f2f9ff;
    -webkit-transform:skew(18deg); /* Safari 和 Chrome */
    transform: skew(18deg); /* Opera 和 Firefox*/
}
.photoEab {
    margin-top:6px;
    margin-left:-3px;
}
.photoEac {
    position:absolute;
    height:5px;
    width:20px;
    background:#f2f9ff;
}
.photoEE:hover .photoEac {
    top:40px;
}
.photoEE:hover .photoEa {
    margin-top:-12px;
}
.photoEb {
    position:relative;
    height:20px;
    width:10px;
    -webkit-transform: rotate(10deg); /* Safari 和 Chrome */
    transform: rotate(10deg); /* Opera 和 Firefox*/
}
.photoEba {
    height:12px;
    width:14px;
    background:#a4d3fe;
    -webkit-transform: rotate(60deg) skew(30deg); /* Safari 和 Chrome */
    transform: rotate(60deg) skew(30deg); /* Opera 和 Firefox*/
}
.photoEbb {
    height:16px;
    width:16px;
    background:#a4d3fe;
    margin:-10px 0 0 -1px;
    border-radius:16px;
    behavior: url(/assets/css/ie-css3.htc); /* ie */
}
.photoEb.e{
    margin:-23px 0 0 20px;
}
.photoEb.f{
    margin:-20px 0 0 75px;
}
.photoEbba {
    position:absolute;
    top:6px;
    left:2px;
    height:6px;
    width:3px;
    background:#fff;
    border-radius:3px;
    -webkit-transform: rotate(6deg); /* Safari 和 Chrome */
    transform: rotate(6deg);         /* Opera 和 Firefox*/
    behavior: url(/assets/css/ie-css3.htc);  /* ie */
}
.photoEba.g,
.photoEbb.g {
    position:absolute;
    top:0px;
    left:2px;
    z-index:-2;
    background:#ddd;
}
.photoEbb.g{
    top:12px;
}
/*****图标样式Heart-F*****/
.photoFF {
    position:relative;
    height:98px;
    width:110px;
    margin: 0 auto;
}
.photoFa {
    position:relative;
    height:85px;
    width:99px;
    margin: 0 auto;
    margin-top:5px;
}
.photoFaa,
.photoFab,
.photoFac,
.photoFad {
    position:absolute;
    top:0px;
    left:0px;
    height:50px;
    width:50px;
    background:#F00;
    transition: all 1s;         /*过度效果*/
    -moz-transition: all 1s;    /* Firefox */
    -webkit-transition: all 1s;    /* Safari 和 Chrome */
    -o-transition: all 1s;        /* Opera */
}
.photoFaa,
.photoFab {
    border-radius:50px;
    behavior: url(/assets/css/ie-css3.htc); /* ie */
}
.photoFab {
    left:48px;
}
.photoFac,
.photoFad {
    height: 45px;
    width: 56px;
    top: 26px;
    left: 17px;    
    top: 13px\0; /* ie8+1e9 */
    left: 10px\0;
    -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
    transform: rotate(45deg);  /* Opera 和 Firefox*/
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071,M12=-0.7071,M21=0.7071,M22=0.7071,SizingMethod='auto expand'); /* ie */
}
.photoFad {
    left:25px;
    height: 56px\0; /* ie8+ie9 */
    width: 45px\0;
    left: 18px\0;
    -webkit-transform: rotate(-45deg); /* Safari 和 Chrome */
    transform: rotate(-45deg); /* Opera 和 Firefox*/
}
.photoFb {
    position:relative;
    float:left;
    height:72px;
    width:94px;
    margin: 5px;
}
.photoFb .photoFaa,
.photoFb .photoFab,
.photoFb .photoFac,
.photoFb .photoFad {
    height:40px;
    width:40px;
    background:#fff;
}
.photoFb .photoFab {
    left:48px;        
}
.photoFb .photoFac,
.photoFb .photoFad {
    height: 37px;
    width: 51px;
    top: 22px;
    left: 13px;
    top: 10px\0; /* ie8+ie9 */
    left: 8px\0;
}
.photoFb .photoFad {
    left:24px;
    left: 18px\0; /* ie8+ie9 */
    height: 51px\0;
    width: 37px\0;
}

.photoFc {
    position:relative;
    float:left;
    height:62px;
    width:79px;
    margin: 5px;
}
.photoFc .photoFaa,
.photoFc .photoFab,
.photoFc .photoFac,
.photoFc .photoFad {
    height:33px;
    width:33px;
    background:#F00;
}
.photoFc .photoFab {
    left:45px;
}
.photoFc .photoFac,
.photoFc .photoFad {
    height: 31px;
    width: 45px;
    top: 20px;
    left: 11px;
    top: 8px\0; /* ie8+ie9 */
    left: 7px\0;
}
.photoFc .photoFad {
    left:22px;
    left:18px\0; /* ie8+ie9 */
    height: 45px\0;
    width: 31px\0;
}
.photoFc a {
    position:absolute;
    top:13px;
    left:12px;
    z-index:10;
    font-size:20px;
    font-weight:bold;
    color:#F00;
}
.photoFF:hover .photoFb .photoFc .photoFaa,
.photoFF:hover .photoFb .photoFc .photoFab,
.photoFF:hover .photoFb .photoFc .photoFac,
.photoFF:hover .photoFb .photoFc .photoFad {
    background-color:#fff;
}
.photoFF:hover .photoFb .photoFaa,
.photoFF:hover .photoFb .photoFab,
.photoFF:hover .photoFb .photoFac,
.photoFF:hover .photoFb .photoFad {
    background-color:#F00;
}
.photoFd {
    position: absolute;
    left: 34px;
    top: 65px;
    z-index: -5;
    width: 45px;
    height: 4px;
    background: #f2f9ff;
    border-radius: 5px;
    box-shadow: 0px 18px 16px #5a0000;
}

/*******动画样式*******/

/*****Sun-B*****/
.photoBg {
    animation: suna 5s linear 0s infinite normal;
    /* Firefox: */
    -moz-animation: suna 5s linear 0s infinite normal;
    /* Safari 和 Chrome: */
    -webkit-animation: suna 5s linear 0s infinite normal;
}
.photoBh {
    animation: sunb 5s linear 0s infinite normal;
    /* Firefox: */
    -moz-animation: sunb 5s linear 0s infinite normal;
    /* Safari 和 Chrome: */
    -webkit-animation: sunb 5s linear 0s infinite normal;
}

@keyframes suna
{
from { transform: rotate(22deg); }
to { transform: rotate(382deg); }
}

@-moz-keyframes suna /* Firefox */
{
from { transform: rotate(22deg); }
to { transform: rotate(382deg); }
}
@-webkit-keyframes suna /* Safari 和 Chrome */
{
from { -webkit-transform: rotate(22deg); }
to { -webkit-transform: rotate(382deg); }
}

@keyframes sunb
{
from { transform: rotate(-22deg); }
to { transform: rotate(338deg); }
}

@-moz-keyframes sunb /* Firefox */
{
from { transform: rotate(-22deg); }
to { transform: rotate(338deg); }
}
@-webkit-keyframes sunb /* Safari 和 Chrome */
{
from { -webkit-transform: rotate(-22deg); }
to { -webkit-transform: rotate(338deg); }
}

/*****Start-C*****/
.photoCg {
    animation: start 5s linear 0s infinite normal;
    /* Firefox: */
    -moz-animation: start 5s linear 0s infinite normal;
    /* Safari 和 Chrome: */
    -webkit-animation: start 5s linear 0s infinite normal;
}

@keyframes start
{
from {transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

@-moz-keyframes start /* Firefox */
{
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
@-webkit-keyframes start /* Safari 和 Chrome */
{
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}
